* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


/* Page general layout */
body {
    color: #A3A3A3;

    width: 100vw;
}

.page-container {
    display: grid;
    grid-template-areas:
        "left-header top-bar"
        "left-header main";

    position: fixed;
    /* bottom: 90px; */
    height: calc(100vh - 90px);
}


/* Typography */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}

.txt-white {
    color: #FFF;
}

.txt-reg {
    font-size: 0.8rem;
}



/* Left-header general color, layouts and sizes */
.left-header {
    background-color: #000000;
    padding-top: 1.5rem;
    padding-right: 1.2rem;

    width: 241px;

    grid-area: left-header;

    display: grid;
    grid-template-areas:
        "logo""site-nav""playlist"".""install""account";
    grid-template-rows: auto auto auto 1fr auto auto;
}

.left-header__item-container {
    padding-left: 1.2rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.left-header__txt {
    margin: 0.65rem 0;
    display: inline-block;
}

.left-header__txt:hover {
    color: #FFF;
}

/* Logo */
.logo-wrap {
    height: 60px;

    padding-left: 1.2rem;

    display: flex;

    grid-area: logo;
}

.logo {
    height: 40px;
}

.logo-small {
    display: none;
}


/* Navigation */
.site-nav {
    grid-area: site-nav;
}

.site-nav__icon {
    height: 25px;
    width: 25px;
}

.site-nav__item__link {
    border-left: 2px solid #000000;
}

.site-nav__item__link:hover {
    border-left-color: #ADFF2E;
}


/* Playlist */
.playlist {
    grid-area: playlist;
}

.playlist__heading {
    text-transform: uppercase;
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
}

/* Create playlist btn */
.playlist__create-btn__txt {
    font-size: 0.9rem;
}

.playlist__create-btn__icon {
    height: 1rem;
    width: 1rem;
}

.playlist__create-btn__icon-wrap {
    background-color: #A3A3A3;
    width: 2.3rem;
    height: 2.3rem;

    border-radius: 2px;

    display: grid;
    place-items: center;
}

.playlist__create-btn {
    margin-bottom: 0.8rem;
}


/* Install app */
.install-link__icon {
    width: 1rem;
    height: 1rem;

    margin-left: -1.2rem;
}

.install-link-wrap {
    grid-area: install;

    margin-left: 1.2rem;
    border-bottom: 1px solid #A3A3A3;
}


/* Personal account */
.account-btn__profile-img {
    margin: 0 0.8rem;

    width: 1.5rem;
    height: 1.5rem;
    background-color: #A3A3A3;
    border-radius: 50%;
}

.account-btn {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;

    padding: 0.3rem 0;
    width: 100%;
    border-radius: 3rem;
}

.account-btn:hover {
    background-color: #181818;
}

.account-btn-wrap {
    grid-area: account;
    padding: 0 0.4rem;
    margin: 1rem -1.2rem 1rem 0;
}


/* Top-bar general color and layout */
.top-bar {
    grid-area: top-bar;

    background-color: #090B12;

    height: 90px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
}

/* Top-bar link */
.top-bar__upgrade-link {
    border: 1px solid #FFF;
    border-radius: 3rem;

    padding: 0.8rem 2.4rem;
    margin-right: 1rem;
}

.top-bar__upgrade-link:hover {
    background-color: #181818;
}


/* Main content layout */
main {
    background-color: #141922;
    grid-area: main;
    overflow-y: scroll;
    width: calc(100vw - 240px);

    display: grid;
    row-gap: 0.8rem;
}

/* Feature list */
.feature__link__txt {
    text-transform: uppercase;
}

.feature__link {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
}

.feature__link__hover-border {
    margin-top: 0.2rem;

    width: 2rem;
    border-bottom: 2px solid #141922;
}

.feature__link:hover .feature__link__hover-border {
    border-bottom-color: #ADFF2E;
}

.feature-list {
    display: flex;
    column-gap: 1.3rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-list-wrap {
    margin: 1.5rem 0.8rem 0 1rem;
}

/* Content list */
.content-heading {
    margin-top: 1rem;
    margin-left: 1.5rem;

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.content__list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 195px);
}

/* Single content item */
.content__item__link {
    display: grid;
    row-gap: 0.5rem;
    place-items: center;

    padding: 1rem;
    margin-left: 0.5rem;

    width: 12rem;
    height: 100%;

    border-radius: 0.5rem;
}

.content__item__cover-wrap {
    position: relative;
}

.content__item__cover {
    width: 100%;
}

.content__item__heading {
    padding: 0.2rem;
    text-align: justify;
    font-size: 0.9rem;
}

/* Content-item play-button */
.content__item__play__icon-wrap {
    display: none;
}

.content__item__play__icon {
    height: 25px;
    width: 25px;

    transition: 50ms;
}

/* Content item hover effect */
.content__item__link:hover {
    background-color: #343840;
}

.content__item__link:hover .content__item__play__icon-wrap {
    display: grid;
    place-items: center;

    padding: 0.6rem;
    background-color: #ADFF2E;
    border-radius: 50%;
    position: absolute;

    bottom: 20px;
    right: 18px;
}

.content__item__play__icon:hover {
    height: 28px;
    width: 28px;
}


/* Bottom-bar general layout */
.bottom-bar {
    background-color: #181818;

    /* grid-area: footer; */

    height: 90px;

    position: fixed;
    bottom: 0;
    width: 100vw;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto minmax(30vw, 1fr) auto;
    place-items: center;
}


/* Button icons size */
.footer__control-btn__icon {
    height: 1rem;
    width: 1rem;

    margin-right: 0.8rem;
}

.player-control__btn__icon {
    height: 1.2rem;
    width: 1.2rem;
}

.player-control__btn__icon-lg {
    height: 2rem;
    width: 2rem;
}



/* Button icons color and hover effect */
.btn__icon-white {
    fill: #FFF;
}

.btn__icon-grey {
    fill: #A3A3A3;
    fill-opacity: 0.7;
}

.btn__icon-grey:hover {
    fill: #FFF;
    fill-opacity: 1;
}


/* Now-playing layout */
.now-playing__song__cover {
    height: 45px;
}

.now-playing {
    margin-left: 1rem;

    display: grid;
    place-items: center;
    grid-auto-flow: column;
    gap: 1rem;
}


.now-playing__song__txt {
    border-bottom: 1px solid #181818;
    width: fit-content;
}

.now-playing__song__link:hover .now-playing__song__txt {
    border-bottom-color: inherit;
}


/* Player */
audio {
    display: none;
}

.player-controls {
    display: grid;
    place-items: center;
    row-gap: 0.5rem;
}

.player-control__btn--wrap {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.8rem;
}

.timeline-wrap {
    display: grid;
    column-gap: 1.5rem;
    align-items: center;
    grid-template-columns: auto 30vw auto;
}


/* Progress-bar */
.progress-bar {
    width: 100%;
    display: flex;
    align-items: center;
}

.progress-bar__current {
    border: 1.5px solid #FFF;
    width: 23%;
}

.progress-bar__duration {
    border: 1.5px solid #A3A3A3;
    width: 77%;
}

/* Device controls */
.device-controls {
    margin-right: 1rem;

    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
}


@media screen and (max-width: 640px) {

    .now-playing__controls {
        display: grid;
        row-gap: 0.1rem;
    }

    .player-control__btn__icon {
        height: 1rem;
        width: 1rem;
    }

    .player-control__btn__icon-lg {
        height: 1.8rem;
        width: 1.8rem;

        margin: 0 1rem;
    }


    .player-control__btn--wrap {
        display: grid;
        grid-auto-flow: column;
        column-gap: 1rem;
    }

    .timeline-wrap {
        display: grid;
        column-gap: 1rem;
        align-items: center;
        grid-template-columns: auto 24vw auto;
    }
}

@media screen and (max-width: 553px) {

    .left-header,
    .left-header>* {
        width: 50px;
    }

    main {
        width: calc(100vw - 50px);
    }

    .logo-wrap {
        height: 30px;

        padding: 0;
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .logo-small {
        display: flex;
        height: 25px;
    }

    .left-header__txt,
    .playlist {
        display: none;
    }

    .left-header__item-container {
        padding-left: 0;
        justify-content: center;
    }

    .site-nav__icon {
        margin: 0.65rem 0;
    }


    .install-link-wrap {
        border: none;
    }

    .install-link__icon,
    .install-link-wrap {
        margin-left: 0;
    }

    .account-btn__profile-img {
        margin: 0;
    }

    .account-btn {
        padding: 0.5rem;
    }

    .account-btn-wrap {
        padding: 0;
        width: fit-content;
        margin: 1rem 0;
        justify-self: center;
    }

    /* Bottom bar */
    .txt-sml {
        font-size: 0.65rem;
    }

    .now-playing__song__cover {
        height: 25px;
    }

    .now-playing {
        margin-left: 0.8rem;
        gap: 0.6rem;

        justify-self: self-start;
    }

    .now-playing__song {
        margin-right: 0.5rem;
    }

    .footer__control-btn__icon {
        height: 0.9rem;
        width: 0.9rem;

        margin-right: 0.3rem;
    }

    .device-controls {
        margin-right: 0.8rem;

        grid-template-columns: 1fr 1.2fr;

        justify-self: self-end;
    }

    .player-control__btn__icon-lg {
        margin: 0 0.5rem;
    }

    .bottom-bar {
        grid-template-columns: repeat(3, 1fr);
    }
}