* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    color: #A3A3A3;
    font-family: Arial, Helvetica, sans-serif;

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas:
        "left-header top-bar"
        "left-header main"
        "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}

.txt-white {
    color: #FFF;
}

.txt-reg {
    font-size: 0.8rem;
    font-weight: 600;
}




.left-header {
    background-color: #000000;
    padding: 1.5rem 1.2rem;

    width: 241px;

    grid-area: left-header;

    display: grid;
    grid-template-areas:
        "logo""site-nav""playlist"".""install""account";
    grid-template-rows: auto auto auto 1fr auto auto;
}

.left-header__txt {
    margin: 0.65rem 0;
    display: inline-block;
}



.logo-wrap {
    height: 60px;

    display: flex;

    grid-area: logo;
}

.logo {
    height: 40px;
}



.site-nav {
    grid-area: site-nav;
}

.site-nav__icon {
    height: 25px;
    width: 25px;
}


.left-header__item-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}



.playlist {
    grid-area: playlist;
}

.playlist__heading {
    text-transform: uppercase;
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
}

.playlist__create-btn__icon {
    height: 1rem;
    width: 1rem;
}

.playlist__create-btn__txt {
    font-size: 0.9rem;
}

.playlist__create-btn__icon-wrap {
    background-color: #A3A3A3;
    width: 2.3rem;
    height: 2.3rem;

    border-radius: 2px;

    display: grid;
    place-items: center;
}

.playlist__create-btn {
    margin-bottom: 0.8rem;
}


.install-link__icon {
    width: 0.8rem;
    height: 0.8rem;
}

.install-link-wrap {
    grid-area: install;

    border-bottom: 1px solid #A3A3A3;
}

.account-btn__profile-img {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #A3A3A3;
    border-radius: 50%;
}

.account-btn {
    padding: 0.8rem 0;
}

.account-btn-wrap {
    grid-area: account;
}


.top-bar {
    grid-area: top-bar;

    background-color: #090B12;

    height: 90px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
}

.top-bar__upgrade-link {
    border: 1px solid #FFF;
    border-radius: 3rem;

    padding: 0.8rem 2.4rem;
    margin-right: 1rem;
}



main {
    background-color: #141922;
    grid-area: main;
    /* overflow-y: scroll; */

    display: grid;
    row-gap: 0.8rem;
}


.feature__link__txt {
    text-transform: uppercase;
}

.feature__link {
    display: flex;
    align-items: center;

    padding-bottom: 0.2rem;
}

.feature__link:hover {
    border-bottom: 2px solid #ADFF2E;
}

.feature-list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.5rem;

    width: fit-content;
}

.feature-list-wrap {
    margin: 1rem;

    display: grid;
    place-items: center;
}





.content-heading {
    margin-top: 1rem;
    margin-left: 1.5rem;

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

/* .content__sub-heading {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
} */

.content__list {
    margin-top: 1rem;
    display: flex;


    /* overflow-x: scroll;
    overflow-y: hidden; */
}




.content__item__link {
    display: grid;
    row-gap: 0.5rem;
    place-items: center;

    padding: 1rem;
    margin-left: 0.5rem;

    width: 12rem;
    height: 100%;

    border-radius: 0.5rem;
}

.content__item__link:hover {
    background-color: #343840;
}

.content__item__cover {
    width: 100%;
}

.content__item__heading {
    padding: 0.2rem;
    text-align: justify;
    font-size: 0.9rem;
}



.bottom-bar {
    background-color: #181818;

    grid-area: footer;
}


.bottom-bar img {
    height: 35px;
}